FUEL_PRICES_QLD_SUBSCRIBER_TOKEN=replace_with_fuel_prices_qld_subscriber_token
NSW_FUEL_API_BASE_URL=https://api.onegov.nsw.gov.au
NSW_FUEL_API_KEY=replace_with_nsw_fuel_api_key
NSW_FUEL_API_SECRET=replace_with_nsw_fuel_api_secret
NSW_FUEL_API_AUTHORIZATION_HEADER=replace_with_nsw_fuel_api_basic_authorization_header
