FUEL_PRICES_QLD_SUBSCRIBER_TOKEN=replace_with_fuel_prices_qld_subscriber_token
SA_FUEL_API_BASE_URL=https://fppdirectapi-prod.safuelpricinginformation.com.au
SA_FUEL_SUBSCRIBER_TOKEN=replace_with_sa_fuel_subscriber_token
NSW_FUEL_API_BASE_URL=https://api.onegov.nsw.gov.au
NSW_FUEL_API_STATES=NSW|TAS
NSW_FUEL_API_KEY=replace_with_nsw_fuel_api_key
NSW_FUEL_API_SECRET=replace_with_nsw_fuel_api_secret
NSW_FUEL_API_AUTHORIZATION_HEADER=replace_with_nsw_fuel_api_basic_authorization_header
VIC_SERVO_SAVER_API_KEY=replace_with_vic_servo_saver_api_key
NT_MYFUEL_USERNAME=replace_with_nt_myfuel_username
NT_MYFUEL_PASSWORD=replace_with_nt_myfuel_password
CONTAINER_MANAGEMENT_ENABLED=false
ROUTE_OPTIMIZER_V2_ENABLED=false
ROUTE_OPTIMIZER_V2_DEFAULT=false
MAP_TILE_SERVER_URL=/tiles
MAP_TILE_STYLE=topo-3d
