MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=fuelau
MYSQL_USERNAME=fuelau
MYSQL_PASSWORD=replace_with_database_password
MYSQL_APP_USERNAME=fuelau_app
MYSQL_APP_PASSWORD=replace_with_app_database_password
MYSQL_SYNC_USERNAME=fuelau_sync
MYSQL_SYNC_PASSWORD=replace_with_sync_database_password
MYSQL_CHARSET=utf8mb4
MYSQL_COLLATION=utf8mb4_unicode_ci
